<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>

Options -Indexes
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteCond %{HTTP_HOST} ^(www\.medita\.io)(:80)? [NC]
RewriteRule ^(.*) http://medita.io/$1 [R=301,L]

DirectoryIndex index.html
order deny,allow
